<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.tmdb.org/t/p/original/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg);">
  <div class="container">
    <h1>LeMovies</h1>
    <p>Save any kind of movies!</p>

  </div>
</div>


<div class="cover mb-4 d-flex align-items-center justify-content-center">

    <h1>Save your movie with LeMovies</h1>
  </div>
</div>
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "CREATE YOUR MOVIE LIST", new_list_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to list_path(list), class:"text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.wallpapersafari.com/19/73/LVySch.jpg) %>)">
          <div >
            <%= list.name %>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
