<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.tmdb.org/t/p/original/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg);">
  <%= link_to 'Remove List', list_path(@list), data: { turbo_method: :delete, turbo_confirm: 'You sure fam?' },:class => "btn btn-primary" %>
  <div class="container">
  <h1><%= @list.name %></h1>

      <div class="card">
        <img src="images/apply.svg" alt="">
        <h4>Action Movies</h4>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.tmdb.org/t/p/original/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg);">          <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#new_movie_modal">
        add a movie
      </button>
      </div>

      <div class="card">
        <img src="images/learn.svg" alt="">
        <h4>Horror Movies</h4>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.tmdb.org/t/p/original/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg);">          <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#new_movie_modal">
        add a movie
      </button>
      </div>


      <div class="card">
        <img src="images/product.svg" alt="">
        <h4>Sad Movies</h4>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.tmdb.org/t/p/original/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg);">          <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#new_movie_modal">
        add a movie
      </button>
      </div>

    </div>
  </div>
  </div>
</div>
